[Unit]
Description=Stand up every hour for 10 minutes

[Timer]
OnCalendar=hourly
RandomizedDelaySec=1m
AccuracySec=1

[Install]
WantedBy=timers.target
