# https://github.com/koalaman/shellcheck/wiki
shell=zsh
disable=SC1003 # escape single quote
disable=SC1087 # use braces when exanding arrays
disable=SC1090 # non-constant sources
disable=SC1091 # Not following
disable=SC2001 # See if you can use ${variable//search/replace} instead. [sometimes it's not... and can't be arsed most other times]
disable=SC2015 # inline condition warning
disable=SC2034 # unused vars
disable=SC2038 # disable -print0/-0 warn
disable=SC2059 # disable variables in printf format string
disable=SC2068 # array expansion
disable=SC2086 # word splitting
disable=SC2115 # disable "${var:?}" warn
disable=SC2128 # array expansion
disable=SC2139 # expansion in definition
disable=SC2145 # use $@
disable=SC2153 # mispellings
disable=SC2155 # Declare and assign separately to avoid masking return values.
