#!/bin/sh

remaps &			# switch caps/super and one-tap_caps/esc, in gnome-shell I only want it as Esc
setbg &				# basically xwallpaper
redshift &
xset r rate 280 55 &		# Speed xrate up
unclutter &			# remove mouse when idle
