[general]
download_path        = /home/fra
preview_path         = /home/fra
cmd_prefix           = :
show_command         = chafa --fill=block --symbols=block -c 240
enable_notifications = true
notification_timeout = 10

[keymap]
switch_panels    = Tab
focus_messages   = Ctrl+m
focus_input      = Ctrl+Space
focus_chats      = Ctrl+g
command_backlog  = Ctrl+b
command_read     = Ctrl+n
command_connect  = Ctrl+r
command_quit     = Ctrl+w
command_help     = Ctrl+h
message_download = d
message_open     = o
message_show     = s
message_url      = u
message_info     = i
message_revoke   = r

[ui]
chat_sidebar_width = 30

[colors]
background       = black
text             = white
list_header      = yellow
list_contact     = green
list_group       = blue
chat_contact     = green
chat_me          = blue
borders          = white
input_background = blue
input_text       = white
unread_count     = yellow
positive         = green
negative         = red
