[general]
download_path        = /home/fra
preview_path         = /home/fra
cmd_prefix           = :
show_command         = chafa --fill=block --symbols=block -c 240
enable_notifications = true
notification_timeout = 10

[keymap]
switch_panels    = Tab
focus_messages   = Ctrl+p
focus_input      = Ctrl+Space
focus_chats      = Ctrl+l
copyuser         = Ctrl+x
pasteuser        = Ctrl+v
command_backlog  = Ctrl+b
command_read     = Ctrl+n
command_connect  = Ctrl+r
command_quit     = Ctrl+q
command_help     = Ctrl+?
message_download = d
message_open     = o
message_show     = s
message_url      = u
message_info     = i
message_revoke   = r

[ui]
chat_sidebar_width = 30

[colors]
background       = blank
text             = papayawhip
forwarded_text   = plum
list_header      = darkgoldenrod
list_contact     = darkseagreen
list_group       = cadetblue
chat_contact     = goldenrod
chat_me          = forestgreen
borders          = snow
input_background = navy
input_text       = beige
unread_count     = gold
positive         = lime
negative         = maroon
