[Desktop Entry]
Type=Application
Name=ncmpcpp
Exec=st -c ncmpcpp -e ncmpcpp
Terminal=false
Categories=Music
Icon=/home/francesco/.local/share/icons/Guyman-Helmet-Music-icon.png
StartupWMClass=ncmpcpp
