[Desktop Entry]
Type=Application
Name=ncmpcpp
Exec=st -c ncmpcpp -e ncmpcpp
Icon=~/.local/share/icons/vinyl.svg
Terminal=false
Categories=Audio;Music;Player;
