[Desktop Entry]
Type=Application
Name=PDF reader
MimeType=image/vnd.djvu+multipage;application/epub+zip;application/pdf;application/postscript;
Exec=/usr/local/bin/zathura %u
