[Desktop Entry]
Comment=Suckless terminal emulator for the X window system
Name=Simple Terminal
GenericName=Terminal
Exec=st -t "Simple Terminal"
Terminal=false
Type=Application
Icon=/home/fra/.config/icons/st.svg
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
