[Desktop Entry]
Type=Application
Name=Text editor
MimeType=text/plain;text/x-tex;text/markdown;application/x-sharedlib;application/json;application/x-abook-addressbook;
Terminal=true
NoDisplay=true
Exec=nvim %u
